* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

/* UTILITIES */
.text-primary {
  color: #65E694;
}

/* NAVBAR */
#navbar {
  background: #333;
  z-index: 1;
  position: sticky;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin: auto;
}

.logo {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.logo h1 {
  color: #f4f4f4;
  font-size: 2rem;
}

.logo i {
  color: #65E694;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.nav-items {
  list-style: none;
  display: flex;
  padding: 2rem;
}

.nav-item {
  color: #f4f4f4;
  text-decoration: none;
  padding: 1.5rem;
}

.nav-item:hover {
  background: #444;
  color: #65E694;
  border-radius: 5px;
}

/* HERO */
#hero {
  background: url(../img/silicon-valley-s1-1920x1080.jpg) no-repeat center center/cover;
  height: 100vh;
}

#hero .hero-text {
  position: absolute;
  top: 80%;
  left: 33%;
  font-size: 6rem;
  color: #f4f4f4;
}

/* INFO */
#info {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

#info div {
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  color: #333333
}