@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

/* UTILITIES */


/* HEADER */
#header {
  background: #333;
  position: relative;
  max-width: 100vw;
}

.logo {
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 20vw;
  color: #f4f4f4;

}

.logo i, h1 {
  margin: 0.5rem;
}

/* NAV-TABS */
#nav-tabs {
position: absolute;
top: 41%;
left: 40%;
}

#nav-tabs ul {
  display: flex;
  list-style: none;
}

#nav-tabs ul li {
  margin: 0.4rem;
  padding: 1rem 2rem;
  background-color: #ecf0f1;
  font-size: large;
  border-radius: 7px 7px 0 0;
}

#nav-tabs ul li:hover {
  color: #3498db;
}

#nav-tabs a {
  text-decoration: none;
  color: #333;
}

/* SECTION: MAIN */
.main {
  position: relative;
  background: #ecf0f1;
}

.container {
  position: relative;
  width: 50vw;
  height: 86.9vh;
  margin: auto;
}


.content {
  position: absolute;
  top: 6vh;
  padding-left: 1rem;
}