@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

/* UTILITIES */

/* HEADER */
#header {
  /* background: linear-gradient(to right, #2980b9, #3498db, #1abc9c, #16a085); */
  background: linear-gradient(to left, #43cea2, #185a9d);
  position: relative;
  max-width: 100vw;
  border: 10px solid #ecf0f1;
  box-shadow: 0 0 0rem 1rem #ecf0f1;
  border-radius: 1.5rem 1.5rem 0 0;
  border-width: 0.5rem;
}

.header-container {
  display: flex;
  position: relative;
  width: 50vw;
  height: 12vh;
  margin: auto;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.logo {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  /* border: 1px solid red; */
}

.logo h1 {
  padding-left: 1rem;
}

/* NAV-TABS */
#nav-tabs {
/* border: 1px solid green; */
position: relative;
padding-top: 1.8vh;
}

#nav-tabs ul {
  display: flex;
  margin-top: 5.6vh;
  list-style: none;
  min-height: vh;
  /* border: 1px solid blue; */
}

#nav-tabs ul li {
  margin-right: 0.4rem;
  padding: 1rem 2rem 1rem;
  font-size: large;
  border-radius: 8px 8px 0 0;
}

#nav-tabs a {
  text-decoration: none;
  color: #333;
}
#nav-tabs ul .current {
  background-color: #ecf0f1;
  color: #40b3ff;
}

#nav-tabs ul .not-current {
  background-color: #bdc3c7;
}

#nav-tabs ul .not-current:hover {
  color: #3694d3;
  background-color: #c6ccd1;
}


/* SECTION: MAIN */
.main {
  position: relative;
  background: #ecf0f1;
  height: 100vh;
  margin: -1vh;
}

.container {
  position: relative;
  width: 50vw;
  height: 100%;
  margin: auto;
}

.content {
  position: absolute;
  top: 6vh;
  padding-left: 1rem;
}

/* MEDIA QUERIES */
@ media () {


}