@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

/* UTILITIES */

/* DARK-MODE */
.dark-mode {
  background-color: linear-gradient(to right, #c0392b, #e67e22, #f39c12);
}

/* HEADER */
#header {
  background: linear-gradient(to right, #2980b9, #3498db, #1abc9c, #16a085);
  position: relative;
  max-width: 100vw;
  border: 10px solid #ecf0f1;
  box-shadow: 0 0 0rem 1rem #ecf0f1;
  border-radius: 1.5rem 1.5rem 0 0;
  border-width: 0.5rem;
}

.header-container {
  display: flex;
  width: 50vw;
  height: 12vh;
  margin: auto;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.logo {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  /* border: 1px solid red; */
}

.logo h1 {
  padding-left: 1rem;
}

.dark-mode-btn {
  position: absolute;
  color: #f4f4f4;
  background-color: #444;
  border: none;
  border-radius: 5px 5px 0 0;
  top: 78%;
  left: 95%;
  padding: 0.4rem;
  cursor: pointer;
}

.dark-mode-btn:hover {
  background-color: #333;
  color: #e67e22;
}

/* NAV-TABS */
#nav-tabs {
/* border: 1px solid red; */
padding-top: 4.3vh;
}

#nav-tabs ul {
  display: flex;
  list-style: none;
}

#nav-tabs ul li {
  margin: 0.4rem;
  padding: 1rem 2rem;
  font-size: large;
  border-radius: 7px 7px 0 0;
}

#nav-tabs a {
  text-decoration: none;
  color: #333;
}
#nav-tabs ul .current {
  background-color: #ecf0f1;
  color: #40b3ff;
}

#nav-tabs ul .not-current {
  background-color: #bdc3c7;
}

#nav-tabs ul .not-current:hover {
  color: #3694d3;
  background-color: #c6ccd1;
}


/* SECTION: MAIN */
.main {
  position: relative;
  background: #ecf0f1;
  height: 100vh;
}

.container {
  position: relative;
  width: 50vw;
  height: 100%;
  margin: auto;
}

.content {
  position: absolute;
  top: 6vh;
  padding-left: 1rem;
}